/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

/*:root {
  --bg-color--dark: #0a1223;
  --bg-color--light: #fff;
  --link: #5d5d5d;
  --link--active: #54597d;
  --link--hover: #54597d;
  --article-title: #ddd;
  --article-title--dark: #000;
  --thumbnail--description: #5d5d5d;

  /* These styles are needed only for media query max-width: 575px */

/* The 'Up' button (circle button at right bottom corner) */

/*--btn-color: #fff;
  --btn-bg-color: #5ebcff;

  --navigation-border-bottom: #ddd;
  --thumbnail-title: #484747;*/

/* Your styles go here */

* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  background: #0a1223;
  color: #ddd;
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
}

.font-italic {
  font-style: italic;
}

@media screen and (max-width: 575px) {
  body {
    background: #fff;
    font-size: 18px;
  }
  .main {
    background: #fff;
    margin: 0 auto;
  }
  .main-wrapper {
    position: relative;
  }
  .the-moon,
  .the-sun,
  .the-earth {
    list-style: none;
    font-size: 28px;
    padding: 5px 15px;
    border-bottom: 2px solid #ddd;
    margin: 0 auto;
  }
  .menu a {
    color: #5d5d5d;
    font-size: 17px;
  }
  .menu a.active {
    font-weight: bold;
    color: #54597d;
  }
  .title-wrapper {
    color: #000;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 10px;
  }
  .title {
    font-size: 36px;
    ;
    color: #484747;
    padding: 20px;
  }
  .text {
    color: #5d5d5d;
    text-indent: 1.2em;
    padding: 20px;
    text-align: justify;
  }
  .topbutton {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background: #5ebcff;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    border-radius: 100%;
    box-shadow: 5px 5px 25px #484747;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  body {
    font-size: 20px;
  }
  .main {
    background: #0a1223;
    margin: 0 auto;
    text-align: center;
  }
  .the-moon,
  .the-sun,
  .the-earth {
    display: inline-block;
    font-size: 28px;
    padding: 20px 15px;
    margin: 0 auto;
  }
  .menu a {
    color: #5d5d5d;
    font-size: 17px;
  }
  .menu a.active {
    color: #54597d;
  }
  .menu a:hover {
    color: #54597d;
  }
  .title-wrapper {
    font-size: 60px;
    margin: 0 auto;
    padding: 170px 0;
  }
  .title {
    font-size: 30px;
    color: #fff;
    padding: 20px 0;
    text-align: justify;
    position: relative;
  }
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #0a1223, transparent)
  }
  .text {
    font-size: 15px;
    color: #5d5d5d;
    text-indent: 1.2em;
    padding: 20px 0;
    text-align: justify;
  }
  .topbutton {
    display: none;
  }
  article {
    padding: 0 50px;
  }
  .about {
    max-width: 555px;
    margin: 0 auto;
  }
  article img {
    padding: 40px 0;
  }
}

@media screen and (min-width: 992px) {
  img {
    width: 50%;
  }
  .main {
    position: relative;
    background: #0a1223;
    margin: 0 auto;
    max-width: 1400px;
  }
  .the-moon,
  .the-sun,
  .the-earth {
    display: inline-block;
    font-size: 28px;
    padding: 20px 15px;
    margin: 0 auto;
  }
  .menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .menu a {
    color: #5d5d5d;
    font-size: 17px;
  }
  .menu a.active {
    color: #54597d;
  }
  .menu a:hover {
    color: #54597d;
  }
  .title-wrapper {
    font-size: 70px;
    margin: 0 auto;
    padding: 220px 0 100px 0;
    text-align: center;
  }
  .title {
    font-size: 35px;
    color: #fff;
    padding: 20px 0;
    text-align: justify;
    position: relative;
  }
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #0a1223, transparent)
  }
  .text {
    color: #5d5d5d;
    font-size: 16px;
    text-indent: 1.2em;
    padding: 20px 0;
    text-align: justify;
  }
  .topbutton {
    display: none;
  }
  .text-wrapper {
    padding-right: 10px;
  }
  article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px 0;
    padding: 0 80px;
  }
  article:nth-child(odd) {
    flex-direction: row;
  }
  .about {
    padding: 80px;
  }
}