$contentBackground: #efefef;
$articleWidth: 440px;
$font-family: serif;
$articlebackground: #ffffff;
$border-bottom: #cfd8dc;
$acolor: #FF0000;
$h3color: #617d8a;
$a: #bdbdbd;
$pcolor: #757575;
