$contentBackground: #fff;
$articleWidth: 440px;
$font-family: sans-serif;
$articlebackground: #efefef;
$border-bottom: #617d8a;
$acolor: #1fbcd3;
$h3color: #1697a6;
$a: #159587;
$pcolor: #617d8a;
